#sansgasterfloat{
    height: 220px;
    width: 400px;
  } 
  
  
  
  p3{
    color: white;
    background-color: black;
    border: solid 15px dark blue;
  } 
  
  body{
    background-image: url(https://wallpapercave.com/wp/wp2788060.png);
  }
  
  
  
  h1{
    color: white;
    background-color: black;
    border: solid 15px dark blue;
  }
  
hr {
    color: aqua;
    size: 5px;
}

